{% extends 'base.html' %}
{% load mathfilters %}

{% block content %}

<div class="">Month: {{ current_month.title }}</div>

<div class="">Rate: {{ current_month.rate }} Won</div>


<div class="">기본금 (Day): {{ day_hours_pay }} Won</div>
<div class="">연장근로수당 (overtime): {{ overtime_hours_pay }} Won</div>
<div class="">야간근로수당 (Night): {{ night_hours_pay }} Won</div>
<div class="">휴일근로수당 (Holiday Pay): {{ holiday_hours_pay }} Won</div>
<div class="">휴일연장근로수당 (Holiday Overtime Pay): {{ holiday_overtime_hours_pay }} Won</div>
<div class="">주차수당 (Parking Allowance): {{ parking_allowance }} Won</div>
<div class="">연차수당 (Annual Allowance): {{ annual_allowance }} Won</div>


<table class="table table-2 mtb-3">
			<thead>
				<tr>
					<th>Date</th>
					<th>Day of The Week</th>
					<th>Shift</th>
					<th>기본금: {{ sum_hours_day }}</th>
					<th>연장근로수당: {{ sum_hours_overtime }}</th>
					<th>야간근로수당: {{ sum_hours_night }}</th>
					<th>휴일근로수당: {{ sum_hours_holiday_pay }}</th>
					<th>휴일연장근로수당: {{ sum_hours_holiday_overtime_pay }}</th>
					<th>주차수당: {{ sum_hours_parking_allowance }}</th>
				</tr>
			</thead>
			<tbody>
				{% for day in current_month.work_days.all %}
				<tr>
					<td>{{ day.date|date:'m/d' }}</td>
					<td>{{ day.date|date:'D' }}</td>
					<td>{{ day.shift }}</td>
					<td>{{ day.day }}</td>
					<td>{{ day.overtime }}</td>
					<td>{{ day.night }}</td>
					<td>{{ day.holiday_pay }}</td>
					<td>{{ day.holiday_overtime_pay }}</td>
					<td>{{ day.parking_allowance }}</td>

				</tr>
				{% endfor %}
			</tbody>
		</table>

<!--<div class="mtb-3">기본금 (Day): {{ sum_hours_day|mul:current_month.rate.rate_st }} Won</div>
<div class="mtb-3">연장근로수당 (overtime): {{ sum_hours_overtime|mul:current_month.rate.rate_st }} Won</div>
<div class="mtb-3">야간근로수당 (Night): {{ sum_hours_night|mul:current_month.rate.rate_st }} Won</div>
<div class="mtb-3">휴일근로수당 (Holiday Pay): {{ sum_hours_holiday_pay|mul:current_month.rate.rate_st }} Won</div>
<div class="mtb-3">휴일연장근로수당 (Holiday Overtime Pay): {{ sum_hours_holiday_overtime_pay|mul:current_month.rate.rate_st }} Won</div>
<div class="mtb-3">주차수당 (Parking Allowance): {{ sum_hours_parking_allowance|mul:current_month.rate.rate_st }} Won</div>-->


{% endblock content %}
