{% extends 'base.html' %}

{% block content %}

<table class="table table-2 mtb-3">
			<thead>
				<tr>
					<th>Date</th>
					<th>Day of The Week</th>
					<th>Shift</th>
					<th>기본금: {{ sum_hours_day }}</th>
					<th>연장근로수당: {{ sum_hours_overtime }}</th>
					<th>야간근로수당: {{ sum_hours_night }}</th>
					<th>휴일근로수당: {{ sum_hours_holiday_pay }}</th>
					<th>휴일연장근로수당: {{ sum_hours_holiday_overtime_pay }}</th>
					<th>주차수당: {{ sum_hours_parking_allowance }}</th>
				</tr>
			</thead>
			<tbody>
				{% for day in work_days %}
				<tr>
					<td>{{ day.date|date:'m/d' }}</td>
					<td>{{ day.date|date:'D' }}</td>
					<td>{{ day.shift }}</td>
					<td>{{ day.day }}</td>
					<td>{{ day.overtime }}</td>
					<td>{{ day.night }}</td>
					<td>{{ day.holiday_pay }}</td>
					<td>{{ day.holiday_overtime_pay }}</td>
					<td>{{ day.parking_allowance }}</td>

				</tr>
				{% endfor %}
			</tbody>
		</table>

{% endblock content %}
